.presentation {
    background-image: linear-gradient(to top, #eed3aa 0%, #eed3aa 100%);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esquerda {
    margin-left: 200;
    margin-top: 5%;
    margin-bottom: 20px;
    max-width: 25%;
    float: left;
    width: 50%;
}

.direita {
    max-width: 50%;
    margin-left: 200;
    margin-bottom: 20px;
    margin-top: 50;
    float: left;
    width: 50%;
}

.pres-text {
    width: 95%;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
    /* Ajuste a margem superior para criar espaço entre as DIVs */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.scroll-fade {
    font-family: 'BR Firma', sans-serif;
    font-size: 200%;
    font-weight: bold;
    opacity: 0;
    /* Inicialmente, o elemento está invisível */
    transform: translateY(20px);
    /* Deslocamento inicial */
    animation: fade-in 1s ease-out forwards;
    /* Inicia a animação "fade-in" */
}

.texts {
    text-align: justify;
    align-self: center;
    /* Alinha o texto à esquerda */
    margin-left: 0;
    /* Remove qualquer margem à esquerda que pode existir */
    font-family: 'BR Firma', sans-serif;
}


.nav-links a {
    color: #fff;
    /* Cor do texto dos links */
    margin: 0 15px;
    font-family: 'BR Firma', sans-serif;
    text-transform: uppercase;
    font-size: 100%;
}

/* Define a animação "fade-in" */
@keyframes fade-in {
    to {
        opacity: 1;
        /* Quando a animação estiver completa, o elemento estará visível */
        transform: translateY(0);
        /* Deslocamento final */
    }
}