.container-user {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form button {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  width: 20%;
  margin: 1rem;
  padding: .6rem;
  border-style: none;
  border-radius: .3rem;
  background-color: #810b67;
  color: white;
  cursor: pointer;
}